html,
body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.text-name {
    color: #ffffff !important
}

#myVideo {
    position: absolute;
    right: 0;
    max-width: 100%;
    bottom: 0;
}

.container .overlay {
    position: absolute;
    top: 0;
    left: 10px;
    max-width: 100%;
    z-index: 2;
}

.container .overlay h1 {
    font-size: 6em;
    color: #fff;
    font-weight: bold;
}

.container .overlay h2 {
    font-size: 3em;
    color: #fff;
    font-weight: bold;
}

.hp {
    text-align: center;
    padding-bottom: 50px;
}

.gage {
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}

.bar {
    height: 50px;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#sumhp {
    /* content: ""; */
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: right;
}

.bar>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.lvl {
    background-color: #078a25;
    background-image: linear-gradient(to bottom, #078a25, #f36d0a);
}